---
- name: Restart SSH
  ansible.builtin.systemd:
    name: ssh
    state: restarted
  become: true

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
  become: true
