---
- name: Destroy Linode Instance
  linode.cloud.instance:
    label: "{{ linode_label }}"
    api_token: "{{ linode_token }}"
    state: absent

- name: Clear hosts.ini
  ansible.builtin.copy:
    content: "[linodes]\n"
    dest: "{{ playbook_dir }}/hosts.ini"
    mode: "0644"
